%h1.text-center Home Street Home Admin Login
.my-10.ml-auto.mr-auto.border.bg-white.rounded-lg.shadow-xl{ class: 'w-1/3' }
  .flex.p-4
    .w-full
      = form_with url: admin_sessions_path, method: :post do |f|
        = f.label :password, class: 'text-sm text-gray-500 block'
        = f.password_field :password, class: 'w-full border py-1 px-2'
        - if flash.alert.present?
          .text-red-500.text-xs{ role: 'alert' }
            = flash.alert

        .actions.mt-3
          = f.submit 'Sign in', class: 'button'
