= wrap_layout :layout do

  .release-navigation
    %nav
      - if current_article.previous_article
        = link_to current_article.previous_article do
          = "<-- #{current_article.previous_article.data.title}"
      = link_to 'Home', '/'
      - if current_article.next_article
        = link_to current_article.next_article do
          = "#{current_article.next_article.data.title} -->"

  .release-cover
    = release_cover current_article.data.catalog_nr.downcase

  %article
    = yield
