= form_with model: @form do |f|
  - if @form.errors.any?
    #error_explanation
      %h2= "#{pluralize(@release.errors.count, "error")} prohibited this release from being saved:"
      %ul
        - @release.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label :discogs_release_id
    = f.text_field :discogs_release_id, value: @form.object.discogs_release_id, disabled: true
  .field
    = f.label :catalog_number
    = f.text_field :catalog_number, value: @form.object.catalog_number, disabled: true
  .field
    = f.label :artist
    = f.text_field :artist, value: @form.object.artist, disabled: true
  .field
    = f.label :title
    = f.text_field :title, value: @form.object.title, disabled: true
  .field
    = f.label :tracklist
    = f.text_area :tracklist, value: @form.object.tracklist, disabled: true, class: 'text-xs w-1/2 h-32'
  .field
    = f.label :credits
    = f.text_area :credits, value: @form.object.credits, disabled: true, class: 'text-xs w-1/2 h-32'
  .field
    = f.label :download_url, 'Download URL'
    = f.text_field :download_url, class: 'w-1/3'
  .field
    = f.label :bandcamp_url, 'Bandcamp URL'
    = f.text_field :bandcamp_url, class: 'w-1/3'
  .field
    = f.label :published, 'Published?'
    = f.check_box :published

  .actions
    = f.submit
