= form_for [:admin, @release] do |f|
  - if @release.errors.any?
    #error_explanation
      %h2= "#{pluralize(@release.errors.count, "error")} prohibited this release from being saved:"
      %ul
        - @release.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label :catalog_number
    = f.text_field :catalog_number
  .field
    = f.label :artist
    = f.text_field :artist
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :released_on
    = f.date_select :released_on
  .field
    = f.label :playlist
    = f.text_area :playlist
  .field
    = f.label :credits
    = f.text_area :credits
  .field
    = f.label :download_url
    = f.text_field :download_url
  .field
    = f.label :discogs_url
    = f.text_field :discogs_url
  .field
    = f.label :bandcamp_url
    = f.text_field :bandcamp_url
  .field
    = f.label :published_at
    = f.check_box :published_at

  .actions
    = f.submit 'Save'
