= form_with model: @admin_release_form do |f|
  - if @admin_release_form.errors.any?
    #error_explanation
      %h2= "#{pluralize(@release.errors.count, "error")} prohibited this release from being saved:"
      %ul
        - @release.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label :catalog_number
    = f.text_field :catalog_number
  .field
    = f.label :artist
    = f.text_field :artist
  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :released_on
    = f.date_field :released_on
  .field
    = f.label :tracklist
    = f.text_area :tracklist
  .field
    = f.label :credits
    = f.text_area :credits
  .field
    = f.label :download_url, 'Download URL'
    = f.text_field :download_url
  .field
    = f.label :discogs_url, 'Discogs URL'
    = f.text_field :discogs_url
  .field
    = f.label :bandcamp_url, 'Bandcamp URL'
    = f.text_field :bandcamp_url
  .field
    = f.label :published_at, 'Published?'
    = f.check_box :published_at

  .actions
    = f.submit
