%h1 Releases

.actions
  = link_to 'New Release From Discogs', new_admin_discogs_release_path

%table
  %thead
    %tr
      %th Discogs Release ID
      %th Cat#
      %th Artist
      %th Name
      %th Released on
      %th Download URL
      %th Bandcamp URL
      %th Published
      %th
      %th
      %th

  %tbody
    - @releases.each do |release|
      %tr
        %td= release.discogs_release_id
        %td= release.catalog_number
        %td= release.artist
        %td= release.name
        %td= release.released_on
        %td= release.download_url
        %td= release.bandcamp_url
        %td= release.published_at.present? ? 'Y' : 'N'
        %td= link_to 'Preview', admin_release_path(release)
        %td= link_to_if 'Edit', false
        %td= link_to 'Destroy', admin_release_path(release), method: :delete, data: { confirm: 'Are you sure?' }

%br
