%p#notice= notice

%p
  %b Discogs Release ID:
  = @release.discogs_release_id
%p
  %b Catalog Number:
  = @release.catalog_number
%p
  %b Artist:
  = @release.artist
%p
  %b Title:
  = @release.title
%p
  %b Image URL:
  = @release.image_url
%p
  %b Released on:
  = @release.released_on
%p
  %b Tracklist:
  = Redcarpet::Markdown.new(Redcarpet::Render::HTML, autolink: true).render(@release.tracklist || '').html_safe
%p
  %b Credits:
  = Redcarpet::Markdown.new(Redcarpet::Render::HTML, autolink: true).render(@release.credits || '').html_safe
%p
  %b Download URL:
  = @release.download_url
%p
  %b Bandamp URL:
  = @release.bandcamp_url
%p
  %b Published:
  = @release.published_at.present? ? 'Y' : 'N'

= link_to 'Edit', edit_admin_release_path(@release)
\|
= link_to 'Back', admin_releases_path
