---
layout: default
---

{% assign release = page.release %}

<div class="flex flex-col gap-y-10">

  <a href="/" class="text-sm text-green-600 opacity-70 hover:opacity-100 transition flex items-center gap-x-1">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
      <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5L8.25 12l7.5-7.5" />
    </svg>
    Back to overview
  </a>

  <img src="{{ release.cover_url }}" alt="Cover for {{ release.artist }} - {{ release.title }}" class="rounded-xl" />

  <div class="flex flex-col gap-y-1">
    <h1 class="text-xl text-gray-400">{{ release.artist }}</h1>
    <h2 class="text-2xl">{{ release.title }}</h2>
    <time datetime="{{ release.released_on }}" class="text-sm text-gray-400">{{ release.released_on }}</time>
  </div>

  <div class="flex flex-col gap-y-2">
    <h2 class="text-gray-600 text-sm uppercase">Tracklist</h2>

    <ul>
      {% for track in release.tracklist %}
        <li class="text-sm font-mono text-gray-700">{{ track.position }} - {{ track.name }}</li>
      {% endfor %}
    </ul>
  </div>

  <div class="flex flex-col gap-y-2">
    <ul class="flex flex-wrap justify-around">
      {% for link in release.links %}
        <li>
          <a href="{{ link.url }}" target="_blank" class="text-green-600 opacity-70 hover:opacity-100 transition">{{ link.text }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
