.my-10
  %h1.inline-block Release from Discogs
  = link_to 'Back to releases', admin_releases_path, class: 'ml-2 text-gray-500 text-sm'

.rounded-lg.border.border-gray-200.shadow-xl.bg-white.p-8
  .my-4
    - if @form.missing_label_releases_options.any?
      = form_with model: @form do |f|
        .field
          = f.label :discogs_release_id, 'Discogs Release', class: 'block text-sm leading-5 tracking-wide text-gray-600'
          = f.select :discogs_release_id,
                     options_for_select(@form.missing_label_releases_options),
                     { include_blank: 'Please select' },
                     { class: 'py-2 px-2 rounded border sm:text-sm sm:leading-5' }
          - if @form.errors.key?(:discogs_release_id)
            .text-red-400.text-xs.mt-1
              = @form.errors.messages[:discogs_release_id].join(' and ')

        .actions.mt-6
          = f.submit 'Fetch Release From Discogs', class: 'button'
    - else
      .text-center.text-gray-700 Could not find any releases on Discogs that are not in our database yet.
