---
layout: releases
---

<div class="flex flex-col gap-y-10">
  <div class="w-full flex flex-col gap-y-2">
    <h2 class="text-gray-500 text-xs uppercase">Latest release</h2>

    {% assign resource = collections.releases.resources[0] %}
    {% assign release = resource.release %}

    <a href="{{ resource.relative_url }}" class="opacity-80 hover:opacity-100 transition flex flex-col gap-y-2">
      <img src="{{ release.cover_url }}" alt="Cover for {{ release.artist }} - {{ release.title }}" class="rounded-xl" />
      <div class="px-2 flex flex-col gap-y-1">
        <span class="text-md text-gray-600 tracking-wider">{{ release.released_on }}</span>
        <span class="text-lg text-green-700 tracking-wider">{{ release.artist }}</span>
        <span class="text-xl">{{ release.title }}</span>
      </div>
    </a>
  </div>

  <div class="w-full flex flex-col gap-y-2">
    <h2 class="text-gray-500 text-xs uppercase">Previous releases</h2>

    <ul class="grid grid-cols-2 gap-5">
      {% for resource in collections.releases.resources offset:1 %}
        {% assign release = resource.release %}
        <li>
          <a href="{{ resource.relative_url }}" class="opacity-80 hover:opacity-100 transition flex flex-col gap-y-1">
            <img src="{{ release.cover_url }}" alt="Cover for {{ release.artist }} - {{ release.title }}" class="rounded-xl" />
            <div class="px-2 flex flex-col">
              <span class="text-xs text-gray-600 tracking-wider">{{ release.released_on }}</span>
              <span class="text-sm text-green-700 tracking-wider">{{ release.artist }}</span>
              <span>{{ release.title }}</span>
            </div>
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
