---
pageable: false
per_page: 5
---
- if paginate && num_pages > 1
  %p
    Page #{page_number} of #{num_pages}
  - if prev_page
    %p= link_to 'Previous page', prev_page
- blog.articles.each_with_index do |article, i|
  %h2
    %small= article.data.catalog_nr
    = link_to article.title, article
    %span= article.date.strftime('%b %e, %Y')
- if paginate
  - if next_page
    %p= link_to 'Next page', next_page

