!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no", :name => "viewport"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %title Home Street Home Records
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', "data-turbo-track": "reload"
    = javascript_include_tag 'application', "data-turbo-track": "reload", defer: true
  %body.bg-gray-100
    .ml-auto.mr-auto.bg-gray-200.my-5.md:my-20.p-10.shadow-xl.rounded-lg{ class: 'w-11/12 md:w-1/2' }
      .text-center.font-serif
        .hsh-logo.text-3xl.tracking-wider.font-bold.leading-tight.uppercase
          .text-gray-600.leading-tight.lg:inline.align-middle.md:block Home
          .text-gray-700.leading-tight.lg:inline.align-middle.md:block.text-5xl.-ml-2.-mr-2 Street
          .text-gray-600.leading-tight.lg:inline.align-middle.md:block Home
        .leading-tight.text-green-400.tracking-widest records

        .my-16
          = yield
