!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Homestreethome
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_pack_tag 'application', media: 'all'
    = javascript_pack_tag 'application'
  %body.bg-gray-100
    .ml-auto.mr-auto.bg-gray-200.my-20.p-10.shadow-xl.rounded-lg{ class: 'w-1/2' }
      .text-center.font-serif
        .text-3xl.tracking-wider.font-bold.leading-tight.uppercase
          .text-gray-600.inline Home
          .text-gray-700.inline Street
          .text-gray-600.inline Home
        .leading-tight.text-green-400.tracking-widest records

        .my-16
          = yield
